/* 
    Document   : style
    Created on : Mar 6, 2012, 2:04:13 PM
    Author     : Paul
    Description:
        Purpose of the stylesheet follows.
*/

body {
        font-size: 16px;
        color: #333;
        font-family: verdena;
        
}

#wrapper {
        width: 960px;
        margin: 40px auto;
}

